---
---

@import "{{ site.theme }}";


header {
    width: 200px;
}


section {
    width: 90%;

}
.wrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 200px;
      float: right;

  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
    
}
.grid-item { grid-area: desc; }

.video-item {
      width: 900px;
      grid-area: vid;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'vid  desc';
    
}

